# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform local directories
.terraform/
**/.terraform/*
**/.terraform/modules/*
**/.terraform/providers/*

# Lock file (can be optional)
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json
terraform.tfvars

# Crash logs
crash.log
